<div class="topSection">
  <div style="float: left">
    <a href="#"><img src="/assets/logo.jpg" class="logo" alt="Nasya Healthcare"></a>
  </div>
  <div class="emergencyDiv">
    <div style="text-align: right">Emergency</div>
    <div>
      <i class="fa fa-phone icon" aria-hidden="true"></i>+91-9622211187
    </div>
  </div>
</div>


<nav class="navbar navbar-expand-lg" style="background-color: transparent">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link firstLink" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#whyUs">Why Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#ourServices">Medical Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#ourTeam">Our Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contactAndAbout">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contactAndAbout">About Us</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="col-md-9 bottomDiv">
    <p class="heading">Leading the  way in Medical Excellence</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <button type="button">Want to know More?</button>
  </div>
</div>

<app-why-choose-us id="whyUs"></app-why-choose-us>
<app-our-services id="ourServices"></app-our-services>
<app-our-team id="ourTeam"></app-our-team>
<app-contact-and-about id="contactAndAbout"></app-contact-and-about>