.topSection{
    padding: 1vh 79vh 1vh 24vh;
    background-color: transparent;
    height: 12vh;
}

.logo {
    height: 9vh;
    width: 9vh;
}

.emergencyDiv{
    float: right;
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
    font-size: 2.5vh;
    color: #216583;
    font-weight: 600;
}

.icon{
    font-size: 3vh;
    color: #216583;
    margin-right: 6px
}

.navbar{
    padding: 1vh 22vh 1vh 24vh;
    font-weight: 500;
    background-color: #FFFFFF;
}

.navbar-toggler{
    border: none;
}

.collapse ul li a {
    color: #226FDE;
    font-size: 2.4vh;
    font-weight: 500;
}

.collapse ul li a:hover {
    color: #216583
}

.collapse ul li:not(:first-child) a {
    padding-left: 8vh;
}

.firstLink{
    margin-left: -10px;
}

.container-fluid{
    width: 82%
}

.bottomDiv{
    margin: 14vh 0vh 20vh 0vh;
}

.bottomDiv .heading {
    color: #216583;
    font-weight: 600;
    font-size: 8vh;
}

.bottomDiv p{
    color: #CFD5DA
}

.bottomDiv button {
    margin-top: 2vh;
    background-color: #226FDE;
    color: white;
    height: 7vh;
    width: 28%;
    padding: 2vh;
    border-radius: 25px;
    border: none;
    font-weight: 500;
    font-size: 2.1vh
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
    .navbar{
        padding: 0vh;
    }

    .firstLink{
       padding-left: 5vh;
    }

    .collapse ul li:not(:first-child) a {
        padding-left: 3vh;
     }

    .topSection{
        padding: 2vh 10vh 2vh 10vh;
    }

    .navbar-toggler {
        border-color: rgb(33,101,131);
    }
    
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(33,101,131,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .container-fluid{
        width: 100%
    }
    

    .bottomDiv{
        margin: 6vh 0vh 6vh 0vh;
    }
    
    .bottomDiv .heading {
        font-size: 6vh;
    }
    
    .bottomDiv p{
        font-size: 2.5vh
    }

    .bottomDiv button {
        height: 7vh;
        width: 40%;
        padding: 2vh;
        border-radius: 25px;
        border: none;
        font-weight: 500;
        font-size: 1.7vh
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .topSection{
        padding: 2vh 10vh 2vh 10vh;
    }

    .navbar{
        padding: 1vh 10vh 1vh 10vh;
    }   

    .navbar-toggler {
        border-color: rgb(33,101,131);
    }
    
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(33,101,131,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .firstLink{
        padding-left: 5vh;
    }

    .collapse ul li:not(:first-child) a {
        padding-left: 3vh;
    }

    .container-fluid{
        width: 90%
    }
    
    .bottomDiv{
        margin: 6vh 0vh 6vh 0vh;
    }
    
    .bottomDiv .heading {
        font-size: 6vh;
    }
    
    .bottomDiv p{
        font-size: 2.5vh
    }

    .bottomDiv button {
        width: 50%;
    }
} 