<div class="contactAndAbout">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-5 col-lg-5 contactUs">
        <div class="headingRow">
          Contact Us
        </div>
        <div class="contactUsContent">
          <p><b>Please Contact:</b></p> 
          <ul style="color: #226FDE; font-weight: 600">
            <li>KUMAR ABHISHEK(Founder) : 9810675626</li>
            <li>SAKSHI KATARIA(Technical Head) : 9711096267</li>
          </ul>
          <p><b>For detailed query, drop a mail to us at:</b></p>
          <a href="#">nasyahealthcare@gmail.com</a>
        </div>
      </div>
      <div class="col-12 col-sm-12 offset-md-1 col-md-6 offset-lg-1 col-lg-6 aboutUs">
        <div class="headingRow">
          About Us
        </div>
        <div class="aboutUsContent">
          <p>Sir James Paget quoted that: </p> 
          <q style="color: #226FDE"><i><b>It[being in healthcare profession] offers the most complete and constant union of those three qualities which have the greater charm for  pure and active minds:- Novelty, Utility and Charity.
          </b></i></q>
          <p></p><p>At Nasya, we are determined to fulfill our promises with the help of our highly qualified doctors and some motherly treatment by our Nursing Officers. We are working on four basic things to fulfill what we had promised:-</p>
          <ul>
            <li><b>Observation:</b> To observe the ever changing field of medical science to cope up with the pace of change</li>
            <li><b>Reason:</b> Try to find the reason of these changes towards better future</li>
            <li><b>Human Understanding:</b> To know human being to treat them better</li>
            <li><b>Courage:</b> In the end, we must have courage to take some step to treat our patient</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>