.ourServices{
    padding-top: 5vh;
    height: 100vh;
    margin-bottom: 15vh;
}

.container-fluid {
    width: 82%;
}

.headingRow{
    font-size: 5vh;
    text-align: center;
    font-weight: 560;
    color: #216583
}

.servicesRow{
    padding-top: 3vh;
}

.service {
    height: 56vh;
    -webkit-box-shadow: 0px 2px 17px -2px rgba(33,101,131,1);
    -moz-box-shadow: 0px 2px 17px -2px rgba(33,101,131,1);
    box-shadow: 0px 2px 17px -2px rgba(33,101,131,1);
    cursor: pointer;
    margin-bottom: 3vh;
}

.leftContainer{
    height: 56vh;
}

.rightContainer {
    height: 56vh;
    padding: 3vh 2vh 3vh 2vh;
}

.serviceImg{
    padding: 18vh 2vh 2vh 2vh;
}

.contractName{
    font-size: 2.5vh;
    color: #216583
}

.minorService {
    height: 44vh;
    -webkit-box-shadow: 0px 2px 17px -2px rgba(33,101,131,1);
    -moz-box-shadow: 0px 2px 17px -2px rgba(33,101,131,1);
    box-shadow: 0px 2px 17px -2px rgba(33,101,131,1);
    cursor: pointer;
    margin-bottom: 3vh;
}

.minorLeftContainer, .minorRightContainer{
    height: 44vh;
}

.minorRightContainer{
    padding: 3vh 2vh 3vh 2vh;
}

.minorServiceImg{
    padding: 10vh 2vh 2vh 2vh;
}

.comingSoonService{
    height: 40vh;
    -webkit-box-shadow: 0px 2px 17px -2px rgba(33,101,131,1);
    -moz-box-shadow: 0px 2px 17px -2px rgba(33,101,131,1);
    box-shadow: 0px 2px 17px -2px rgba(33,101,131,1);
    cursor: pointer;
    margin-bottom: 3vh;  
}

.comingLeftContainer, .comingRightContainer{
    height: 40vh;
}

.comingRightContainer{
    padding: 3vh 2vh 3vh 2vh;
}

.comingServiceImg{
    padding: 12vh 0vh 2vh 1vh;
}

@media only screen and (min-width: 300px) and (max-width: 575px) {
    .service {
        height: 63vh;
        font-size: 2.2vh
    }

    .leftContainer, .minorLeftContainer, .comingLeftContainer{
        display: none;
    }

    .minorService {
        height: 47vh;
        font-size: 2.2vh
    }

    .rightContainer, .minorRightContainer, .comingRightContainer {
        padding-left: 6vh;
    }

    .comingSoonService{
        height: 44vh;
        font-size: 2.2vh
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .service {
        height: 57vh;
        font-size: 2.2vh
    }

    .leftContainer, .minorLeftContainer, .comingLeftContainer{
        display: none;
    }

    .minorService {
        height: 47vh;
        font-size: 2.2vh
    }

    .rightContainer, .minorRightContainer, .comingRightContainer {
        padding-left: 8vh;
    }

    .comingSoonService {
        height: 44vh;
        font-size: 2.2vh
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
    .service {
        height: 82vh;
        font-size: 2.2vh
    }    

    .leftContainer, .minorLeftContainer, .comingLeftContainer{
        display: none;
    }

    .minorService {
        height: 50vh;
        font-size: 2.2vh
    }

    .rightContainer, .minorRightContainer, .comingRightContainer {
        padding-left: 6vh;
    }

    .comingSoonService {
        height: 44vh;
        font-size: 2.2vh
    }
} 

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .service, .leftContainer {
        height: 95vh;
        font-size: 2.2vh
    }    

    .serviceImg {
        padding: 35vh 2vh 2vh 2vh;
        width: 100%;
    }

    .minorService , .minorLeftContainer{
        height: 55vh;
        font-size: 2.2vh
    }

    .rightContainer, .minorRightContainer, .comingRightContainer {
        padding-left: 6vh;
    }

    .minorServiceImg
    {
        padding: 18vh 2vh 2vh 2vh;
        width: 100%;
    }

    .comingServiceImg
    {
        padding: 12vh 2vh 2vh 2vh;
        width: 90%;
    }
    
    .comingSoonService , .comingLeftContainer{
        height: 35vh;
        font-size: 2.2vh
    }
}