.whyChooseUsDiv {
    height: 70vh;
    padding-top: 3%;
    background-color: rgba(34,111,222,0.7);
}

.container-fluid {
    width: 82%;
}

.headingRow{
    font-size: 5vh;
    text-align: center;
    color: #ffffff;
    font-weight: 500
}

.row {
    padding-top: 4vh;
}

.card-container {
    cursor: pointer;
    height: 40vh;
    perspective: 600;
    position: relative;
    width: 90%;
}

.card {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
    background: transparent;
    border: 2px solid #ffffff
}

.card:hover {
    transform: rotateY(180deg);
}

.card .side {
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
    text-align: center;
    font-size: 2.2vh
}

.card .side img {
    padding: 8vh 0vh 5vh 0vh
}

.card .back {
    background: #ffffff;
    text-align: center;
    transform: rotateY(180deg);
    padding: 8vh 3vh 0vh 3vh;
    line-height: 5vh;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
    .whyChooseUsDiv {
        height: 215vh;
        padding-top: 8%;
    }

    .row {
        padding-top: 2vh;
    }

    .card-container {
        height: 45vh;
        margin-bottom: 2vh
    }
 
    .card .side {
        font-size: 2.7vh
    }

    .card .side img {
        padding: 7vh 0vh 4vh 0vh
   }   

   .card .back {
    padding-top: 25%
   }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .whyChooseUsDiv {
        height: 120vh;
        padding-top: 4%;
    }

    .row {
        padding-top: 2vh;
    }

    .card-container {
        height: 45vh;
        margin-bottom: 2vh
    }
 
    .card .side {
        font-size: 2.7vh
    }

    .card .side img {
        padding: 7vh 0vh 4vh 0vh
   }   

   .card .back {
    padding-top: 25%
   }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .whyChooseUsDiv {
        height: 110vh;
    }   

    .card-container {
        margin-bottom: 2vh;
    }

    .card .side {
        font-size: 2.7vh
    }

    .card .side img {
        padding: 6vh 0vh 3vh 0vh
   }   

   .card .back {
        padding-top: 20%
   }
}

@media only screen and (min-width: 993px) and (max-width: 1300px) {
    .card .side img {
        width: 75%;
        height: 75%;
    }

    .row {
        padding-top: 3vh;
    }

    .card .back {
        text-align: center;
        padding: 6vh 2vh 0vh 2vh;
        line-height: 5vh;
    }    
}