<div class="whyChooseUsDiv">
  <div class="container-fluid">
    <div class="headingRow">
        <p>Why Choose Us</p>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let quality of WhyChooseUsArray">
        <div class="card-container">
          <div class="card">
            <div class="side">
              <img src={{quality.imgUrl}}>
              <p style="color: white">{{quality.textFront}}</p>
            </div>
            <div class="side back" style="color: #226FDE">
              <p>{{quality.textBack}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
