<div class="ourTeam">
  <div class="container-fluid">
    <div class="headingRow">
      <p>Meat Our Team</p>
    </div>
    <div class="row">
        <div class="col-md-4">
        <div class="team-member">
          <figure>
            <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/lauren-cox.jpg" alt="" class="img-responsive">
            <figcaption>
              <p>Total Work Experience in years: 8</p>
              <p>Hospitals Served:</p> 
              <ul>
                <li>Medanta the Medicity</li>
                <li>Rockland Hospital</li>
              </ul>
              <p>Work Experience in Foreign Country: Served in Republic of Maldives under Ministry of Health for 3 year</p>
              <p>Work experience with TPA companies: </p>
              <ul>
                <li>Consultant physician with E-Meditek.</li>
                <li>Consultant physician with Mediassist.</li>
              </ul>
              <p>Work Experience with Corporate Companies:</p> 
              <ul>
                <li>Accenture</li>
                <li>TCS</li>
              </ul>
            </figcaption>
          </figure>
          <h4>Dr. Tasleem Jan Rawloo</h4>
          <p style="color: #ffffff">MBBS, MHA(Master of Hospital Administration)</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="team-member">
          <figure>
            <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/jessie-barnett.jpg" alt="" class="img-responsive">
            <figcaption>
              <p>Total Work Experience in years: 10</p>
            </figcaption>
          </figure>
          <h4>Dr. Sameer Sharma</h4>
          <p style="color: #ffffff">Physiotherapist</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="team-member">
          <figure>
            <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/terry-fletcher.jpg" alt="" class="img-responsive">
            <figcaption>
              <p>Total Work Experience in years: 1</p>
              <p>Hospital Served:</p>
              <ul>
                <li>Jyoti Hospital</li>
                <li>Aryan Hospital</li>
              </ul>
              <p>Experience with Corporate Companies:</p>
              <ul>
                <li>Accenture</li>
              </ul>
            </figcaption>
          </figure>
          <h4>Ms. Kajal Sharma</h4>
          <p style="color: #ffffff">Nursing Head</p>
        </div>
      </div>
    </div>
  </div>
</div>
